{% if displaySwitch %}
<div class="form-group m-form__group row vertical-padding10">
    <label class="col-form-label col-lg-2 col-sm-12">Switch</label>
    <input id="switch" name="switch" data-switch="true" data-size="small" data-on-color="success"  type="checkbox" checked>
</div>
{% endif %}